body {
    background-image: url(bg.png);
}

nav {
    background: linear-gradient(to right, #344c78 37%, #ff931e 63%);
    color: white;
    padding: 15px;
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.nav-buttons{
    display: flex;
    gap: 20px;
}
button {
    background-color: #ffffff;
    padding: 6px;
    border: 3px solid transparent;
    border-radius: 3px;
    color: #ff931e;
    font-weight: bold;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #ff931e;
    border: 2px solid #ffffff;  
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.03);
}
.btn-ativo {
    background-color: #ff931e !important;
    color: white !important;
    border: 3px solid white !important;
    font-weight: bold;
    position: relative;
    padding: 9px 14px;
}
.btn-ativo::after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
}